@@include('./include/head.html',{"title": "Layout : Common : 튼튼영어 베이비리그"})
<body>
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTAINER -->
		<main id="container">
			<!-- Content -->
			<div id="content">
				@contents
			</div>
			<!-- //Content -->
		</main>
		<!-- // [D] CONTAINER -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

@@include('./include/script.html')
</body>
</html>