@@include('./include/head.html',{"title": "전체 프로그램 : 프로그램 : 튼튼영어 베이비리그"})
<body>
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTAINER -->
		<main id="container">
			<!-- Spotlight -->
			<div class="spot">
				<div class="spot_banner">
					<div class="spot_bg"><img src="../img/program/img_program_banner01.png" alt=""></div>
					<div class="spot_ct">
						<em>하루종일 신나는 영어놀이터!</em>
						<strong><span class="spot_txt_img txt_banner01"><span class="blind">베리굿키즈</span></span>프로그램</strong>
						<p class="spot_sub">베이비리그에서 신나게 놀다보면 <br>어느새 영어가 자유로운 베리굿키즈!</p>
					</div>
				</div>
			</div>
			<!-- //Spotlight -->
			<!-- Content -->
			<div id="content">
				<div class="program_feature_wrap">
					<div class="inner">
						<ul class="program_feature">
							<li class="program_feature_item">
								<dl>
									<dt>PLAY!</dt>
									<dd>즐거운 놀이로 <br>아이의 무한한 가능성을 <br>열어주세요!</dd>
								</dl>
							</li>
							<li class="program_feature_item">
								<dl>
									<dt>LEARN!</dt>
									<dd>저절로 영어가 <br>좋아지는 놀라운 경험을 <br>선사하세요!</dd>
								</dl>
								<span class="bird"></span>
							</li>
							<li class="program_feature_item">
								<dl>
									<dt>GROW!</dt>
									<dd>배움의 즐거움과 함께 <br>행복하게 성장할 수 있도록 <br>도와주세요!</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="program_lst_wrap">
					<div class="inner">
						<div class="program_lst">
							<strong class="program_lst_ct"><span class="blind">베리굿키즈 프로그램</span></strong>
							<ul class="program_lst_elem">
								<li class="item item_orange">
									<a href="#">
										<span class="item_ico ico_orange_m"></span>
										<strong class="item_name">ORANGE</strong>
									</a>
								</li>
								<li class="item item_green">
									<a href="#">
										<span class="item_ico ico_green_m"></span>
										<strong class="item_name">GREEN</strong>
									</a>
								</li>
								<li class="item item_sada">
									<a href="#">
										<span class="item_ico ico_sada_m"></span>
										<strong class="item_name">싱어롱댄스어롱</strong>
									</a>
								</li>
								<li class="item item_gyuri">
									<a href="#">
										<span class="item_ico ico_gyuri_m"></span>
										<strong class="item_name">W플레이</strong>
									</a>
								</li>
								<li class="item item_wplay">
									<a href="#">
										<span class="item_ico ico_wplay_m"></span>
										<strong class="item_name">Q플레이</strong>
									</a>
								</li>
								<li class="item item_qplay">
									<a href="#">
										<span class="item_ico ico_qplay_m"></span>
										<strong class="item_name">규리앤프렌즈</strong>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="program_typify_wrap">
					<div class="program_typify_intro">
						<div class="inner">
							<div class="item item_type01">
								<p class="txt">호기심 가득<br> 아이가 자라나는<br> 토이 그림책</p>
							</div>
							<div class="item item_type02">
								<p class="txt">재미는 기본!<br> 활용은 만점!<br> 맞춤 놀잇감</p>
							</div>
							<div class="item item_type03">
								<p class="txt">몰입해서<br> 따라 하게되는<br> 흥미진진<br> 애니메이션</p>
							</div>
							<div class="item item_type04">
								<p class="txt">오물조물<br> 재잘재잘<br> 베이비리그</p>
							</div>
							<div class="item item_type05">
								<p class="txt">귀에 쏙! 입에 착!<br> 흥 뿜뿜!<br> 신나는 노래</p>
							</div>
						</div>
					</div>
					<div class="program_typify">
						<div class="program_typify_head">
							<em>왜?</em>
							<p class="sub">수많은 영유아 전집 중</p>
							<div class="program_typify_tit">
								<span class="img"></span>
								<strong>많은 부모님들이 베이비리그를 선택할까요?</strong>
							</div>
						</div>
						<div class="program_typify_ct">
							<ol class="lst">
								<li class="item">
									<span class="num">01</span>
									<dl>
										<dt>통합발달 영어놀이 프로그램</dt>
										<dd>아이가 가장 좋아하는 내용과 방식으로유아 시기 성장과정 특징을 고려했습니다.</dd>
									</dl>
								</li>
								<li class="item">
									<span class="num">02</span>
									<dl>
										<dt>재미와 놀이가 가득한 교재 & 교구</dt>
										<dd>토이북과 다양한 활동자료, 특별 교구재로 아이의 흥미를 꽉 잡아줍니다.</dd>
									</dl>
								</li>
								<li class="item">
									<span class="num">03</span>
									<dl>
										<dt>오직 베이비리그만의 센터 놀이활동</dt>
										<dd>베이비리그 크리에이터와 함께하는 신나는 영어 놀이로 200% 시너지를 더해줍니다.</dd>
									</dl>
								</li>
								<li class="item">
									<span class="num">04</span>
									<dl>
										<dt>믿을 수 있는 영어교육전문기업 튼튼영어</dt>
										<dd>베이비리그 이후 연계 프로그램까지 탄탄하게! 아이에게 영어의 즐거움을 선물합니다.</dd>
									</dl>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- //Content -->
		</main>
		<!-- // [D] CONTAINER -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

@@include('./include/script.html')
</body>
</html>