@@include('./include/head.html',{"title": "스마트교구 : 프로그램 : 튼튼영어 베이비리그"})
<body>
@@include('./include/skipnavigation.html')

	<div class="wrap program_smart_parish">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTAINER -->
		<main id="container">
			<!-- Spotlight -->
			<div class="spot spot_sl">
				<ul class="spot_lst js_spot_lst">
					<li class="spot_item">
						<div class="spot_banner">
							<div class="spot_bg"><img src="../img/program/img_program_banner02.png" alt=""></div>
							<div class="spot_ct">
								<em>더 즐거운 스토리 타임</em>
								<strong><span class="spot_txt_img logo_oneline"><span class="blind">Baby League</span></span>매직박스</strong>
								<p class="spot_sub">눈과 귀와 몸으로 영어 리듬에 <br>흠뻑 빠지는 신나는 시간!</p>
							</div>
						</div>
					</li>
					<li class="spot_item">
						<div class="spot_banner">
							<div class="spot_bg"><img src="../img/program/img_program_banner03.png" alt=""></div>
							<div class="spot_ct">
								<em>영어가 더 즐거워지는</em>
								<strong><span class="spot_txt_img logo_oneline"><span class="blind">베리굿키즈</span></span>스마트교구</strong>
								<p class="spot_sub">베이비리그가 더 즐거워지는 스마트교구들과 함께 <br>신나게 놀다 보면 우리 아이 영어실력도 쑥쑥 자라납니다.</p>
							</div>
						</div>
					</li>
					<li class="spot_item">
						<div class="spot_banner">
							<div class="spot_bg"><img src="../img/program/img_program_banner04.png" alt=""></div>
							<div class="spot_ct">
								<em>더 즐거운 스토리 타임</em>
								<strong><span class="spot_txt_img logo_oneline"><span class="blind">베리굿키즈</span></span>Talking Little Dragon</strong>
								<p class="spot_sub">펼쳐보고, 당겨보고, 붙여보고! <br>토이북과 함께 더 즐거운 스토리 타임을 즐겨보세요.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- //Spotlight -->
			<!-- Content -->
			<div id="content">
				<div class="inner">
					<div class="breadcrumb_wrap">
						<ul class="breadcrumb">
							<li><a href="#none">HOME</a></li>
							<li><a href="#none">프로그램</a></li>
							<li>스마트교구</li>
						</ul>
					</div>
					<div class="program_head_wrap">
						<div class="program_head program_head_structure">
							<span class="program_head_img"></span>
							<strong>베이비리그 스마트교구</strong>
						</div>
						<ul class="tab">
							<li class="tab_item on"><a href="#" class="tab_link js_program_smart_link">스마트교구</a></li>
							<li class="tab_item"><a href="#" class="tab_link js_program_app">베이비리그 Application</a></li>
							<li class="tab_item"><a href="#" class="tab_link js_program_cube">큐브랜드 Application</a></li>
						</ul>
					</div>
					<div class="program_dt_elem">
						<div class="program_dt_tit" id="program_smart">
							<strong><span>스마트교구</span></strong>
						</div>
						<div class="program_dt_ct">
							<div class="program_smart_wrap">
								<ul class="lst">
									<li class="lst_item">
										<div class="program_smart js_program_smart">
											<strong class="program_smart_name">Talking Little Dragon (별도구매)</strong>
											<p class="program_smart_sub">펼쳐보고, 당겨보고, 붙여보고! <br>다양한 조작이 가능한 토이북과 Talking Little Dragon으로 <br>즐거운 스토리 타임!</p>
											<img src="../img/program/img_program_talkdragon.jpg" alt="" class="program_smart_img">
										</div>
									</li>
									<li class="lst_item">
										<div class="program_smart js_program_smart">
											<strong class="program_smart_name">매직박스 (별도구매)</strong>
											<p class="program_smart_sub">눈과 귀와 몸으로 영어 리듬감에 흠뻑 빠지는 신나는 시간!</p>
											<img src="../img/program/img_program_magicbox.jpg" alt="" class="program_smart_img">
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="program_dt_elem">
						<div class="program_dt_tit" id="program_app">
							<strong><span>베이비리그 Application</span></strong>
						</div>
						<div class="program_dt_ct">
							<div class="program_app_wrap">
								<ul class="lst">
									<li class="lst_item">
										<div class="program_app">
											<strong class="program_app_name">스마트튼튼</strong>
											<p class="program_app_sub">언제나, 어디서나 영상을 보고 <br>녹음할 수 있는 스마트폰 전용 앱</p>
											<div class="program_app_img">
												<img src="../img/program/img_program_appdanton.png" alt="">
												<span class="program_app_ico ico_app_danton"></span>
											</div>
											<ul class="program_app_download">
												<li><a href="#" class="program_app_link btn_gg_play"><span class="ico"><span class="blind">Download app on Google Play</span></span></a></li>
												<li><a href="#" class="program_app_link btn_app_store"><span class="ico"><span class="blind">Download app on App Store</span></span></a></li>
											</ul>
										</div>
									</li>
									<li class="lst_item">
										<div class="program_app">
											<strong class="program_app_name">베리앱</strong>
											<p class="program_app_sub">베이비리그 소개용 재미있는 <br>인터렉티브 체험 앱</p>
											<div class="program_app_img">
												<img src="../img/program/img_program_appberry.png" alt="">
												<span class="program_app_ico ico_app_berry"></span>
											</div>
											<ul class="program_app_download">
												<li><a href="#" class="program_app_link btn_gg_play"><span class="ico"><span class="blind">Download app on Google Play</span></span></a></li>
												<li><a href="#" class="program_app_link btn_app_store"><span class="ico"><span class="blind">Download app on App Store</span></span></a></li>
											</ul>
										</div>
									</li>
									<li class="lst_item">
										<div class="program_app">
											<strong class="program_app_name">튼튼라이브러리</strong>
											<p class="program_app_sub">영상, 교재, 음원을 한 번에 볼 수 있는 <br>스마트패드 전용 앱 서비스</p>
											<div class="program_app_img">
												<img src="../img/program/img_program_appdantonlib.png" alt="">
												<span class="program_app_ico ico_app_dantonlib"></span>
											</div>
											<ul class="program_app_download">
												<li><a href="#" class="program_app_link btn_gg_play"><span class="ico"><span class="blind">Download app on Google Play</span></span></a></li>
												<li><a href="#" class="program_app_link btn_app_store"><span class="ico"><span class="blind">Download app on App Store</span></span></a></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="program_dt_elem">
						<div class="program_dt_tit" id="program_cube">
							<strong><span>큐브랜드 Application</span></strong>
						</div>
						<div class="program_dt_ct">
							<div class="program_cube_wrap">
								<div class="inner">
									<div class="program_cube">
										<div class="program_cube_info">
											<span class="program_cube_ico ico_cube"></span>
											<strong class="program_cube_tit">큐브랜드 통합앱</strong>
											<p class="program_cube_sub">통합 앱에서 베이비리그 회원 인증 후 <br>개별 앱 콘텐츠를 다운받으실 수 있어요.</p>
											<a href="#" class="program_cube_link btn_gg_play"><span class="ico"><span class="blind">Download app on Google Play</span></span></a>
										</div>
										<ul class="program_cube_lst">
											<li class="program_cube_app">
												<span class="ico ico_cube_app01"></span>
												<em class="name">큐브랜드 메이커</em>
											</li>
											<li class="program_cube_app">
												<span class="ico ico_cube_app02"></span>
												<em class="name">코딩플레이</em>
											</li>
											<li class="program_cube_app">
												<span class="ico ico_cube_app03"></span>
												<em class="name">플레이타임</em>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Content -->
		</main>
		<!-- // [D] CONTAINER -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

@@include('./include/script.html')
</body>
</html>