@@include('./include/head.html',{"title": "Q-Play : 프로그램 : 튼튼영어 베이비리그"})
<body>
@@include('./include/skipnavigation.html')

	<div class="wrap program_qplay">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTAINER -->
		<main id="container">
			@@include('./include/shortcuts.html',{"type": "01"})
			<!-- Content -->
			<div id="content">
				<section class="program_main_wrap">
					<div class="inner">
						<div class="program_main">
							<div class="program_main_sl" id="program_main_qplay">
								<ul class="sl_lst js_program_main_sl">
									<li><img src="../img/program/img_program_qp_l01.jpg" alt=""></li>
									<li><img src="../img/program/img_program_qp_l02.jpg" alt=""></li>
									<li><img src="../img/program/img_program_qp_l03.jpg" alt=""></li>
									<li><img src="../img/program/img_program_qp_l04.jpg" alt=""></li>
								</ul>
								<div class="sl_count"></div>
							</div>
							<div class="program_main_ct">
								<div class="wrap_ct">
									<div class="elem">
										<div class="program_main_name"><span class="program_main_logo"></span><strong>W-Play<span class="program_main_sub">규리와 함께 하는 어휘놀이</span></strong></div>
										<p class="program_main_des">12개의 직업으로 만나는 세상에 없던 어휘놀이 W-Play! 어휘가 착! <br>영어가 착! 어휘 확장을 통해 영어 수다쟁이로 변신시켜 줍니다!</p>
									</div>
									<div class="elem">
										<strong class="elem_tit">추천대상</strong>
										<div class="elem_ct">
											<ul class="program_main_recommend">
												<li class="txt_bold">풍부한 <br>말하기 목표</li>
												<li class="txt_bold">연상력 <br>어휘놀이</li>
												<li class="txt_bold">다양한 <br>직업체험</li>
											</ul>
										</div>
									</div>
									<div class="elem">
										<strong class="elem_tit">제품구성</strong>
										<div class="elem_ct">
											<p>어휘그림책 12권, 어휘 활동책 10권, 어휘 놀이책 5권, Touch & Play, Talking Little Dragon 녹음 스티커, Story, Song CD, 매직카, 가이드북</p>
										</div>
									</div>
									<div class="elem elem_thumb">
										<ul class="sl_thumb js_program_main_slthumb">
											<li><img src="../img/program/img_program_qp_s01.jpg" alt=""></li>
											<li><img src="../img/program/img_program_qp_s02.jpg" alt=""></li>
											<li><img src="../img/program/img_program_qp_s03.jpg" alt=""></li>
											<li><img src="../img/program/img_program_qp_s04.jpg" alt=""></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="program_dt_wrap">
					<div class="inner">
						<div class="program_head_wrap">
							<div class="program_head program_head_structure">
								<span class="program_head_img"></span>
								<strong>이렇게 구성되어 있어요!</strong>
							</div>
							<ul class="tab">
								<li class="tab_item on"><a href="#" class="tab_link js_program_book">교재/교구재</a></li>
								<li class="tab_item"><a href="#" class="tab_link js_program_video">학습콘텐츠</a></li>
							</ul>
						</div>
						<div class="program_dt_elem">
							<div class="program_dt_tit" id="program_book">
								<strong><span>어휘그림책</span>영유아 시기에 맞는 소재와 스토리로 신나게 영어와 놀아보세요!</strong>
							</div>
							<div class="program_dt_ct">
								<div class="program_story" id="program_book_qplay01">
									<div class="program_story_main">
										<div class="main_sl">
											<ul class="sl_lst sl_book">
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_1.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_2.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_3.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_4.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_5.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_6.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_7.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_8.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_9.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_10.jpg" alt="" class="sl_img"></li>
											</ul>
											<div class="sl_count"></div>
										</div>
										<div class="program_story_name">
											<strong class="name">01. What’s in Your Bag?</strong>
											<p class="des">워터파크로 떠나는 규리와 친구들! 도착하려면 아직 멀었나요?</p>
										</div>
									</div>
									<div class="program_story_menu">
										<div class="sl_book_lst">
											<ol class="menu_sl">
												<li class="sl_item on"><a href="#" class="sl_link"><strong><span class="num">01.</span>What’s in Your Bag?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">02.</span>Why Is Her Name Monster?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">03.</span>Can I Have It?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">04.</span>Are We There Yet?</strong><em class="label">체험교재</em></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">05.</span>Whose Turn Is It?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">06.</span>Did You Wash Your Hands?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">07.</span>What’s That Sound?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">08.</span>Can I Take My Ball?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">09.</span>What Did You Build?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">10.</span>Is It Yummy?</strong></a></li>
											</ol>
										</div>
										<button class="sl_ctrl js_sl_book_button"><i class="ico_ar_blue_m"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="program_dt_elem">
							<div class="program_dt_tit">
								<strong><span>어휘활동책</span>영유아 시기에 맞는 소재와 스토리로 신나게 영어와 놀아보세요!</strong>
							</div>
							<div class="program_dt_ct">
								<div class="program_story" id="program_book_qplay02">
									<div class="program_story_main">
										<div class="main_sl">
											<ul class="sl_lst sl_book">
												<li class="sl_item"><img src="../img/program/img_program_qp_story2_1.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story2_2.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story2_3.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story2_4.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story2_5.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story2_6.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story2_7.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story2_8.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story2_9.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story2_10.jpg" alt="" class="sl_img"></li>
											</ul>
											<div class="sl_count"></div>
										</div>
										<div class="program_story_name">
											<strong class="name">01. What’s in Your Bag?</strong>
											<p class="des">워터파크로 떠나는 규리와 친구들! 도착하려면 아직 멀었나요?</p>
										</div>
									</div>
									<div class="program_story_menu">
										<div class="sl_book_lst">
											<ol class="menu_sl">
												<li class="sl_item on"><a href="#" class="sl_link"><strong><span class="num">01.</span>What’s in Your Bag?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">02.</span>Why Is Her Name Monster?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">03.</span>Can I Have It?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">04.</span>Are We There Yet?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">05.</span>Whose Turn Is It?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">06.</span>Did You Wash Your Hands?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">07.</span>What’s That Sound?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">08.</span>Can I Take My Ball?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">09.</span>What Did You Build?</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">10.</span>Is It Yummy?</strong></a></li>
											</ol>
										</div>
										<button class="sl_ctrl js_sl_book_button"><i class="ico_ar_blue_m"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="program_dt_elem">
							<div class="program_dt_tit">
								<strong><span>어휘놀이책</span>영유아 시기에 맞는 소재와 스토리로 신나게 영어와 놀아보세요!</strong>
							</div>
							<div class="program_dt_ct">
								<div class="program_story" id="program_book_qplay03">
									<div class="program_story_main">
										<div class="main_sl">
											<ul class="sl_lst sl_book">
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_1.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_2.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_3.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_4.jpg" alt="" class="sl_img"></li>
												<li class="sl_item"><img src="../img/program/img_program_qp_story1_5.jpg" alt="" class="sl_img"></li>
											</ul>
											<div class="sl_count"></div>
										</div>
										<div class="program_story_name">
											<strong class="name">01. 필름북</strong>
											<p class="des">워터파크로 떠나는 규리와 친구들! 도착하려면 아직 멀었나요?</p>
										</div>
									</div>
									<div class="program_story_menu">
										<div class="sl_book_lst">
											<ol class="menu_sl">
												<li class="sl_item on"><a href="#" class="sl_link"><strong><span class="num">01.</span>필름북</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">02.</span>마그네틱북</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">03.</span>믹스앤매치룩</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">04.</span>스핀북</strong></a></li>
												<li class="sl_item"><a href="#" class="sl_link"><strong><span class="num">05.</span>아코디언북</strong></a></li>
											</ol>
										</div>
										<button class="sl_ctrl js_sl_book_button"><i class="ico_ar_blue_m"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="program_dt_elem">
							<div class="program_dt_tit">
								<strong><span>활동교구</span>함께하면 더 신나는 활동교구로 베이비리그에 빠져보세요!</strong>
							</div>
							<div class="program_dt_ct">
								<div class="program_basic program_act">
									<div class="program_basic_sl">
										<ul class="lst js_program_act_sl">
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc1.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">Magic Ship</strong>
												</a>
											</li>
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc2.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">Talking Little Dragon <br>녹음 스티커</strong>
												</a>
											</li>
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc3.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">Touch & Play</strong>
												</a>
											</li>
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc4.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">My Play House</strong>
												</a>
											</li>
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc5.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">Magic Ship</strong>
												</a>
											</li>
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc6.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">Talking Little Dragon <br>녹음 스티커</strong>
												</a>
											</li>
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc7.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">Talking Little Dragon <br>녹음 스티커</strong>
												</a>
											</li>
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc8.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">Talking Little Dragon <br>녹음 스티커</strong>
												</a>
											</li>
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc9.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">Talking Little Dragon <br>녹음 스티커</strong>
												</a>
											</li>
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc10.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">Talking Little Dragon <br>녹음 스티커</strong>
												</a>
											</li>
											<li class="lst_item">
												<a href="#" class="lst_link">
													<img src="../img/program/img_program_qp_etc11.jpg" alt="" class="program_basic_img">
													<strong class="program_basic_name">Talking Little Dragon <br>녹음 스티커</strong>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="program_dt_elem">
							<div class="program_dt_tit" id="program_video">
								<strong><span>학습콘텐츠</span></strong>
							</div>
							<div class="program_dt_ct">
								<div class="program_video">
									<button class="program_video_play ico_video_play"><span class="blind">동영상 재생</span></button>
									<iframe width="100%" height="100%" src="https://www.youtube.com/embed/00n7P2uAh24" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="program_audio">
									<img src="../img/program/img_program_qp_story1_4.jpg" alt="">
									<div class="program_audio_ct">
										<strong class="program_audio_tit">4. Are We There Yet?</strong>
										<span class="program_audio_shortplay">30초듣기</span>
										<audio id="music" preload="true">
											<source src="../img/program/audio/program_qplay.mp3" type="audio/mpeg">
										</audio>
										<div class="program_audio_ctrl">
											<div id="audioplayer" class="player">
												<button id="pButton" class="play"></button>
												<div id="timeline">
													<div id="playhead"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="program_other_wrap">
					<div class="inner">
						<div class="program_head_wrap">
							<div class="program_head program_head_other">
								<span class="program_head_img"></span>
								<strong>다른 시리즈도 확인해보세요!</strong>
							</div>
						</div>
						<div class="program_basic program_other">
							<div class="program_basic_sl">
								<ul class="lst js_program_other_sl">
									<li class="lst_item">
										<a href="#" class="lst_link">
											<span class="program_basic_ico ico_orange_m"></span>
											<strong class="program_basic_name">오렌지</strong>
										</a>
									</li>
									<li class="lst_item">
										<a href="#" class="lst_link">
											<span class="program_basic_ico ico_green_m"></span>
											<strong class="program_basic_name">그린</strong>
										</a>
									</li>
									<li class="lst_item">
										<a href="#" class="lst_link">
											<span class="program_basic_ico ico_sada_m"></span>
											<strong class="program_basic_name">SADA</strong>
										</a>
									</li>
									<li class="lst_item">
										<a href="#" class="lst_link">
											<span class="program_basic_ico ico_gyuri_m"></span>
											<strong class="program_basic_name">규리앤프렌즈</strong>
										</a>
									</li>
									<li class="lst_item disable">
										<a href="#" class="lst_link">
											<span class="program_basic_ico ico_qplay_m"></span>
											<strong class="program_basic_name">Q-Play</strong>
										</a>
									</li>
									<li class="lst_item">
										<a href="#" class="lst_link">
											<span class="program_basic_ico ico_wplay_m"></span>
											<strong class="program_basic_name">W-Play</strong>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!-- //Content -->
		</main>
		<!-- // [D] CONTAINER -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

@@include('./include/script.html')
</body>
</html>