@@include('./include/head.html',{"title": "놀이활동 : 프로그램 : 튼튼영어 베이비리그"})
<body>
@@include('./include/skipnavigation.html')

	<div class="wrap program_act">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTAINER -->
		<main id="container">
			@@include('./include/shortcuts.html',{"type": "01"})
			<!-- Spotlight -->
			<div class="spot">
				<div class="spot_banner">
					<div class="spot_bg"><img src="../img/program/img_program_banner05.png" alt=""></div>
					<div class="spot_ct">
						<em>보고, 듣고, 느끼고, 배우는</em>
						<strong><span class="spot_txt_img logo_oneline"><span class="blind">Baby League</span></span>놀이활동</strong>
						<p class="spot_sub">전문 교육을 이수한 베이비리그 크리에이터와 함께 <br>신나게 놀다 보면 우리 아이 영어실력도 쑥쑥 자라납니다.</p>
					</div>
				</div>
			</div>
			<!-- //Spotlight -->
			<!-- Content -->
			<div id="content">
				<div class="inner">
					<div class="breadcrumb_wrap">
						<ul class="breadcrumb">
							<li><a href="#none">HOME</a></li>
							<li><a href="#none">프로그램</a></li>
							<li>놀이활동</li>
						</ul>
					</div>
					<div class="program_head_wrap">
						<div class="program_head program_head_structure">
							<span class="program_head_img"></span>
							<strong>베이비리그 놀이활동</strong>
						</div>
						<ul class="tab">
							<li class="tab_item on"><a href="#" class="tab_link js_program_creator">베이비리그 크리에이터</a></li>
							<li class="tab_item"><a href="#" class="tab_link js_program_act">놀이활동 소개</a></li>
							<li class="tab_item"><a href="#" class="tab_link js_program_playkit">PLAY KIT</a></li>
						</ul>
					</div>
					<div class="program_dt_elem">
						<div class="program_dt_tit" id="program_creator">
							<strong><span>베이비리그 크리에이터</span></strong>
						</div>
						<div class="program_dt_ct">
							<div class="program_creator_wrap">
								<div class="program_creator">
									<span class="program_creator_img chicken02"></span>
									<div class="program_creator_ct">
										<strong class="program_creator_tit">창의력이 통통 베리-크리에이터</strong>
										<p class="program_creator_txt">베이비리그의 재미있는 스토리를 기반으로 확장되는 ‘놀이’를 통해 <br>아이들이 창의적이고 다채로운 경험을 영어로 쌓을 수 있게 해줍니다.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="program_dt_elem">
						<div class="program_dt_tit" id="program_act">
							<strong><span>어떤 프로그램인가요?</span></strong>
						</div>
						<div class="program_dt_ct">
							<div class="program_act_intro">
								<p class="tit">영유아의 눈높이에 맞게 체계적으로 기획된 <strong>베이비리그 놀이활동!</strong></p>
								<ul class="lst">
									<li class="lst_item">
										<span class="num">1</span>
										<p class="txt">영유아에 맞는 <br>통합발달 영어 놀이</p>
									</li>
									<li class="lst_item">
										<span class="num">2</span>
										<p class="txt">온몸으로 습득하는 <br>놀이활동</p>
									</li>
									<li class="lst_item">
										<span class="num">3</span>
										<p class="txt">호기심 가득, <br>재미 가득 <br>스토리텔링</p>
									</li>
									<li class="lst_item">
										<span class="num">4</span>
										<p class="txt">함께 성장하는 <br>상호교감 놀이</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="program_dt_elem">
						<div class="program_dt_tit" id="program_playkit">
							<strong><span>PLAY KIT</span></strong>
						</div>
						<div class="program_dt_ct">
							<div class="program_playkit">
								<div class="program_playkit_sl">
									<ul class="program_playkit_lst js_program_playkit_lst">
										<li><img src="../img/program/img_program_sada.png" alt="" class="program_playkit_img"></li>
										<li><img src="../img/program/img_program_orange.png" alt="" class="program_playkit_img"></li>
										<li><img src="../img/program/img_program_green.png" alt="" class="program_playkit_img"></li>
										<li><img src="../img/program/img_program_gyuri.png" alt="" class="program_playkit_img"></li>
										<li><img src="../img/program/img_program_qplay.png" alt="" class="program_playkit_img"></li>
										<li><img src="../img/program/img_program_wplay.png" alt="" class="program_playkit_img"></li>
									</ul>
								</div>
								<p class="program_playkit_note"><span>PLAY KIT</span>베리 크리에이터와 함께하는 신나는 놀이활동을 통해 영어발화 유도합니다.</p>
							</div>
						</div>
					</div>
					<div class="program_dt_elem">
						<div class="program_dt_tit">
							<strong><span>어떻게 하나요?</span></strong>
						</div>
						<div class="program_dt_ct">
							<div class="program_guide">
								<div class="program_guide_ct">
									<p><span>대상 :</span> 베이비리그 구매회원</p>
									<p><span>놀이활동 :</span> 1개월(주1회 수업, 프로그램 별 Play kit 제공) <br>가까운 베이비리그 센터로 문의하세요!</p>
								</div>
								<div class="program_guide_contact">
									<strong><span class="txt_banner01"></span>가 되기위한</strong>
									<p class="txt">베이비리그 센터, 어디있죠?</p>
									<div class="program_guide_select">
										<div class="custom_select">
											<button type="button">시/도를 선택해주세요.</button>
											<ul class="val_lst sb-container">
												<li><button type="button">강원도</button></li>
												<li><button type="button">경기도</button></li>
												<li><button type="button">경상남도</button></li>
												<li><button type="button">경상북도</button></li>
												<li><button type="button">광주광역시</button></li>
												<li><button type="button">대구광역시</button></li>
												<li><button type="button">대전광역시</button></li>
												<li><button type="button">부산광역시</button></li>
												<li><button type="button">서울특별시</button></li>
												<li><button type="button">세종특별자치시</button></li>
												<li><button type="button">울산광역시</button></li>
												<li><button type="button">인천광역시</button></li>
												<li><button type="button">전라남도</button></li>
												<li><button type="button">전라북도</button></li>
												<li><button type="button">제주특별자치도</button></li>
												<li><button type="button">충청남도</button></li>
												<li><button type="button">충청북도</button></li>
											</ul>
											<input type="hidden" name="childBMonth">
										</div>
									</div>
									<button class="btn_search"><span class="ico_search"><span class="blind">Search</span></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Content -->
		</main>
		<!-- // [D] CONTAINER -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

@@include('./include/script.html')
</body>
</html>