@@include('./include/head.html',{"title": "회원가입 &gt; 가입완료 : 회원가입/로그인 : Baby League"})
<body>
@@include('./include/skipnavigation.html')

<div class="wrap">
    <!--[D] HEADER -->
    @@include('./include/header.html',{"type": "01"})
    <!--//[D] HEADER -->

    <!-- [D] CONTENTS -->
    <main id="container">
        <!-- Content -->
        <div id="content">
            <div class="inner">
            <section id="signed_sec" class="sec_v1">
                <div class="sec_header clearfix">
                    <h2 class="sec_tit fl">가입완료</h2>
                    <ul class="breadcrumb fr clearfix">
                        <li><a href="#none">HOME</a></li>
                        <li><a href="#none">회원가입</a></li>
                        <li>가입완료</li>
                    </ul>
                </div>
                <div class="sec_cont">
                    <h3 class="sec_headline sec_headline_v3">Thank<br>&nbsp;&nbsp;You,</h3>
                    <p>베이비리그 가입을 축하합니다.<br>베이비리그 가족이 되어 다양한 혜택을 누리세요.</p>
                    <div class="deco_container">
                        <span class="deco3"></span>
                        <span class="deco4"></span>
                    </div>
                    <a href="#none" class="btn_v2 fm_btn fm_btn_v3">로그인</a>
                </div>
                <span class="deco12"></span>
            </section>
        </div>
        </div>
        <!-- //Content -->
    </main>
    <!-- // [D] CONTENTS -->

    <!--[D] FOOTER -->
    @@include('./include/footer.html',{"type": "01"})
    <!--// [D] FOOTER -->
</div>



@@include('./include/script.html')
</body>
</html>