@@include('./include/head.html',{"title": "로그인 : 회원가입/로그인 : Baby League"})
<body>
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="container">
            <!-- Content -->
            <div id="content">
                <div class="inner">
                <section id="login_sec" class="sec_v2">
                    <form method="post" id="login_fm" class="centered_fm">
                        <h2 class="fm_headline fm_headline_v1">Login</h2>
                        <div class="inp_grp has_deco has_error">
                            <label for="user_id" class="blind">아이디</label>
                            <input type="text" id="user_id" class="deft_inp" name="userId" placeholder="아이디">
                            <span class="deco1"></span>
                            <span class="field_error">아이디를 잘못 입력하셨습니다.</span>
                        </div>
                        <div class="inp_grp has_error">
                            <label for="user_pass" class="blind">비밀번호</label>
                            <input type="password" id="user_pass" class="deft_inp" name="userPass" placeholder="비밀번호">
                            <span class="field_error">비밀번호를 잘못 입력하셨습니다.</span>
                        </div>
                        <div class="clearfix">
                            <div class="chb_grp fr">
                                <input type="checkbox" id="stay_login" checked class="deft_chb" name="stayLogin" value="true">
                                <label for="stay_login">로그인 상태 유지</label>
                            </div>
                        </div>
                        <a href="#none" class="deft_btn fm_btn login_btn">로그인</a>
                        <div class="link_lst_container">
                            <ul class="link_lst clearfix">
                                <li><a href="#none">회원가입</a></li>
                                <li><a href="#none">아이디 찾기</a></li>
                                <li><a href="#none">비밀번호 찾기</a></li>
                            </ul>
                        </div>
                    </form>
                    <span class="deco7"></span>
                    <span class="deco8"></span>
                    <span class="deco10"></span>
                    <span class="deco11"></span>
                    <span class="deco12"></span>
                    <span class="deco5"></span>
                </section>
            </div>
            </div>
            <!-- //Content -->
        </main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>



@@include('./include/script.html')
</body>
</html>