@@include('./include/head.html',{"title": "로그인 &gt; 비밀번호 찾기 &gt; 완료 : 회원가입/로그인 : Baby League"})
<body>
@@include('./include/skipnavigation.html')

<div class="wrap">
    <!--[D] HEADER -->
    @@include('./include/header.html',{"type": "01"})
    <!--//[D] HEADER -->

    <!-- [D] CONTENTS -->
    <main id="container">
        <!-- Content -->
        <div id="content">
            <div class="inner">
            <section id="fpass_sec" class="sec_v1">
                <div class="sec_header clearfix">
                    <h2 class="sec_tit fl">비밀번호 찾기</h2>
                    <ul class="breadcrumb fr clearfix">
                        <li><a href="#none">HOME</a></li>
                        <li><a href="#none">로그인</a></li>
                        <li>비밀번호 찾기</li>
                    </ul>
                </div>
                <div class="sec_cont">
                    <h3 class="sec_headline">Finish,</h3>
                    <p>가입하신 이메일 주소로 임시 비밀번호를 보내드렸습니다.<br>확인 후 로그인 해주세요.</p>
                    <span class="deco2"></span>
                    <a href="#none" class="btn_v2 fm_btn fm_btn_v4">로그인</a>
                </div>
                <span class="deco12"></span>
            </section>
        </div>
        </div>
        <!-- //Content -->
    </main>
    <!-- // [D] CONTENTS -->

    <!--[D] FOOTER -->
    @@include('./include/footer.html',{"type": "01"})
    <!--// [D] FOOTER -->
</div>



@@include('./include/script.html')
</body>
</html>