@@include('./include/head.html',{"title": "체험CD &gt; 신청완료 : 체험신청 : Baby League"})
<body>
@@include('./include/skipnavigation.html')

<div class="wrap">
    <!--[D] HEADER -->
    @@include('./include/header.html',{"type": "01"})
    <!--//[D] HEADER -->

    <!-- [D] CONTENTS -->
    <main id="container">
        <!-- Content -->
        <div id="content">
            <div class="inner">
            <section id="exp_cd_finish" class="sec_v1">
                <div class="sec_header clearfix">
                    <h2 class="sec_tit fl">체험신청</h2>
                    <ul class="breadcrumb fr clearfix">
                        <li><a href="#none">HOME</a></li>
                        <li><a href="#none">체험신청</a></li>
                        <li>체험CD</li>
                    </ul>
                </div>
                <div class="sec_cont">
                    <h3 class="sec_headline">Finish,</h3>
                    <small>샘플<span>CD</span> 신청완료!</small>
                    <p>곧 샘플CD 신청완료 문자와 해피콜을 받으실 수 있습니다.<br>우리아이 놀이본능을 영여본능으로 바꿔 줄 베이비리그를<br>지금, 체험해 보세요!</p>
                    <span class="exp_cd_finish"></span>
                    <a href="#none" class="btn_v2 fm_btn fm_btn_v4">메인으로</a>
                </div>
                <span class="deco12"></span>
            </section>
        </div>
        </div>
        <!-- //Content -->
    </main>
    <!-- // [D] CONTENTS -->

    <!--[D] FOOTER -->
    @@include('./include/footer.html',{"type": "01"})
    <!--// [D] FOOTER -->
</div>



@@include('./include/script.html')
</body>
</html>