@@include('./include/head.html',{"title": "체험CD : 체험신청 : Baby League"})
<body>
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTAINER -->
		<main id="container">
			@@include('./include/shortcuts.html',{"type": "02"})
			<!-- Content -->
			<div id="content" class="exp">
				<!-- Top banner -->
				<section class="spot spot_v2">
					<div class="spot_bg">
						<img src="../img/exp_app/img_exp_app_banner01.png" alt="">
					</div>
					<div class="spot_ct">
						<em>Let’s Play Together!</em>
						<span class="logo_white2"></span>
						<h2><strong>체험신청</strong></h2>
						<p class="spot_sub">베이비리그에서 신나게 놀다보면 <br>어느새 영어가 자유로운 베리굿키즈!</p>
					</div>
				</section>
				<!--// Top banner -->
				<!-- Breadcrumb -->
				<div class="breadcrumb_container inner clearfix">
					<ul class="breadcrumb fr clearfix">
						<li><a href="#none">HOME</a></li>
						<li>체험신청</li>
					</ul>
				</div>
				<!--// Breadcrumb -->
				<!-- Pack list container -->
				<div id="pack_lst_container">
					<div class="inner">
						<ul class="pack_lst clearfix">
							<li class="mb_exp_pack"><a href="#none">
								<div class="pack">
									<span class="pack_tit">모바일 체험팩</span>
									<span class="pack_img"></span>
								</div>
							</a></li>
							<li class="pre_exp_pack"><a href="#none">
								<div class="pack">
									<span class="pack_tit">프리미엄 체험팩</span>
									<span class="pack_img"></span>
								</div>
							</a></li>
							<li class="exp_cd active">
								<div class="pack">
									<span class="pack_tit">체험 CD</span>
									<span class="pack_img"></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!--// Pack list container -->
				<!--Pack contents -->
				<section id="exp_cd_preview" class="pack_contents">
					<div class="inner">
						<div class="about_pack">
							<h2 class="sec_headline">베리굿송 체험CD</h2>
							<p>흥얼흥얼 들썩들썩, 노래에 반응하는 우리아이<br>베이비리그의 베스트 11곡과 함께 온몸으로 영어를 느껴보세요!</p>
							<div class="img_grp">
								<img src="../img/exp_app/cd_04.png" alt="">
							</div>
							<p><span>하루종일 신나는 우리집 영어놀이터,튼튼영어 베이비리그!</span><span>튼튼영어 베이비리그는 아이가 일상에서 자연스럽게,</span><span>그리고 재미있게 영어를 습득할 수 있는 환경을 제공합니다.</span></p>
						</div>
					</div>
				</section>
				<!--// Pack contents-->

				<div id="exp_cd_conf" class="tabs scrolltab">
					<div class="tab_head_wrap inner">
						<div class="tab_head tab_head_structure">
							<span class="tab_head_img"></span>
							<strong>튼튼영어베이비리그 프로그램</strong>
							<p>다양한 베이비리그의 프로그램을 만나보세요!</p>
							<div class="slide_wrapper">
								<ul class="play_act_lst single_slide">
									<li><img src="../img/exp_app/CD_DA.png" alt=""></li>
									<li><img src="../img/exp_app/CD_DA2.png" alt=""></li>
									<li><img src="../img/exp_app/CD_GR.png" alt=""></li>
									<li><img src="../img/exp_app/CD_QP.png" alt=""></li>
									<li><img src="../img/exp_app/CD_SA.png" alt=""></li>
									<li><img src="../img/exp_app/CD_SA2.png" alt=""></li>
									<li><img src="../img/exp_app/CD_WP.png" alt=""></li>
								</ul>
								<span class="slide_page"></span>
							</div>
						</div>
					</div>
				</div>

				<section id="cd_playlist" class="inner">
					<div class="tab_head_wrap">
						<div class="tab_head tab_head_other">
							<span class="tab_head_img"></span>
							<strong>베리굿송 CD List</strong>
						</div>
						<div class="tab_dt_ct">
							<ol class="custom_ol">
								<li>I Am the Music Man<span>- Sing Along</span></li>
								<li>Open Shut Them<span>- Sing Along</span></li>
								<li>Big Bubbles<span>- Dance Along</span></li>
								<li>There were five in a Bed<span>- Dance Along</span></li>
								<li>Where is My Socks?<span>- Baby League</span></li>
								<li>Off We Go!<span>- Baby League</span></li>
								<li>Meet Gyuri and Friends<span>- Gyuri and Friends</span></li>
								<li>Can I have it?<span>- Q-Play</span></li>
								<li>Gyuri and his Band<span>- Q-Play</span></li>
								<li>Open Shut Them<span>- W-Play</span></li>
								<li>Fruit Song<span>- W-Play</span></li>
							</ol>
						</div>
					</div>
				</section>
				<section id="exp_cd_app" class="inner apply_fm">
					<h3 class="sec_headline">체험CD 신청</h3>
					<p><span>우리 아이가 노래를 흥얼거린다면, 들썩들썩 춤을 춘다면,</span><br>지금이 바로 노래놀이로 영어감각을 키워줄 때 입니다!</p>
					<form method="post" id="pre_exp_fm" class="centered_fm">
						<div class="user_agr_container">
							<div class="clearfix">
								<span class="deco16"></span>
								<div class="chb_grp fr">
									<input type="checkbox" id="accept_all" class="deft_chb chb_v2" name="acceptAll" value="true">
									<label for="accept_all">하단내용에 모두 동의합니다.</label>
								</div>
							</div>
							<ul class="list_agreement">
								<li class="clearfix">
									<div class="chb_grp">
										<input type="checkbox" id="accept_toc" class="deft_chb chb_v2" name="acceptToc" value="true">
										<label for="accept_toc"><a href="#none">이용약관</a>에 동의합니다.</label>
									</div>
								</li>
								<li class="clearfix">
									<div class="chb_grp">
										<input type="checkbox" id="accept_pp" class="deft_chb chb_v2" checked name="acceptToc" value="true">
										<label for="accept_pp"><a href="#none">개인정보 취급방침</a>에 동의합니다.</label>
									</div>
								</li>
							</ul>
						</div>
						<div class="fm_part">
							<h3 class="fm_part_tit">자녀정보 입력</h3>
							<div class="inp_grp">
								<label for="child_name" class="blind">자녀 이름</label>
								<input type="text" id="child_name" class="deft_inp" name="childName" placeholder="자녀 이름">
							</div>
							<div class="inp_grp custom_select">
								<button type="button">자녀생년</button>
								<ul class="val_lst sb-container">
									<li><button type="button">2014</button></li>
									<li><button type="button">2015</button></li>
									<li><button type="button">2016</button></li>
									<li><button type="button">2017</button></li>
									<li><button type="button">2018</button></li>
									<li><button type="button">2019</button></li>
								</ul>
								<input type="hidden" name="childBYear">
							</div>
						</div>
						<div class="fm_part">
							<h3 class="fm_part_tit">주소</h3>
							<div class="inp_grp">
								<button class="find_add_btn">우편번호 찾기</button>
							</div>
							<div class="inp_grp">
								<input type="text" id="road_name" class="deft_inp" name="roadName">
							</div>
							<div class="inp_grp">
								<input type="text" id="lot_num" class="deft_inp" name="lotNum">
							</div>
						</div>
						<div class="fm_part">
							<h3 class="fm_part_tit">학부모 휴대전화</h3>
							<div class="inline_inp_grp">
								<div class="inp_grp inp_grp_c3 custom_select">
									<button type="button">010</button>
									<ul class="val_lst">
										<li><button type="button">010</button></li>
										<li><button type="button">016</button></li>
										<li><button type="button">017</button></li>
										<li><button type="button">018</button></li>
										<li><button type="button">019</button></li>
									</ul>
									<input type="hidden" name="telCode">
								</div>
								<div class="inp_grp inp_grp_c2">
									<label for="parent_no" class="blind">- 없이 입력해주세요.</label>
									<input type="tel" id="parent_no" class="deft_inp" name="parentNo" placeholder="- 없이 입력해주세요.">
								</div>
							</div>
						</div>
						<a href="#none" class="deft_btn fm_btn apply_btn">신청하기</a>
					</form>
					<span class="deco7"></span>
					<span class="deco6"></span>
					<span class="deco12"></span>
				</section>
				<!--[D] Show/hide with toggle class 'displayed'-->
				<div class="fixed_container displayed  exp_app">
					<dl>
						<dt>체험<br>타입</dt>
						<dd>체험 CD</dd>
						<dt><span>혜택</span></dt>
						<dd>베리굿송 체험CD</dd>
					</dl>
					<a href="#exp_cd_app" class="apply_btn scroll_lnk">체험팩 신청하기</a>
				</div>
			</div>
			<!-- //Content -->
		</main>
		<!-- // [D] CONTAINER -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

@@include('./include/script.html')
</body>
</html>