@@include('./include/head.html',{"title": "프리미엄체험팩 &gt; 신청실패 : 체험신청 : Baby League"})
<body>
@@include('./include/skipnavigation.html')

<div class="wrap">
    <!--[D] HEADER -->
    @@include('./include/header.html',{"type": "01"})
    <!--//[D] HEADER -->

    <!-- [D] CONTENTS -->
    <main id="container">
        <!-- Content -->
        <div id="content">
            <div class="inner">
            <section id="exp_app_fail" class="sec_v1">
                <div class="sec_header clearfix">
                    <h2 class="sec_tit fl">체험신청</h2>
                    <ul class="breadcrumb fr clearfix">
                        <li><a href="#none">HOME</a></li>
                        <li><a href="#none">체험신청</a></li>
                        <li>프리미엄체험팩</li>
                    </ul>
                </div>
                <div class="sec_cont">
                    <h3 class="sec_headline">Sorry,</h3>
                    <small>이미 신청하셨네요!</small>
                    <p>센터에서 해피콜이 오지 않았다면<br>고객센터 <span class="underline_txt">1577-0589</span>로 문의주세요!</p>
                    <span class="deco24"></span>
                    <a href="#none" class="btn_v2 fm_btn fm_btn_v4">메인으로</a>
                </div>
                <span class="deco12"></span>
            </section>
        </div>
        </div>
        <!-- //Content -->
    </main>
    <!-- // [D] CONTENTS -->

    <!--[D] FOOTER -->
    @@include('./include/footer.html',{"type": "01"})
    <!--// [D] FOOTER -->
</div>



@@include('./include/script.html')
</body>
</html>