@@include('./include/head.html',{"title": "푸터/메뉴 : 고객센터 : Baby League"})
<body>
@@include('./include/skipnavigation.html')

<div class="wrap">
    <!--[D] HEADER -->
    @@include('./include/header.html',{"type": "01"})
    <!--//[D] HEADER -->

    <!-- [D] CONTENTS -->
    <main id="container">
        <!-- Content -->
        <div id="content">
            <div class="inner">
            <section id="sc_finish_sec" class="sec_v1">
                <div class="sec_header clearfix">
                    <h2 class="sec_tit sec_tit_v1 fl">고객센터</h2>
                    <ul class="breadcrumb fr clearfix">
                        <li><a href="#none">HOME</a></li>
                        <li>고객센터</li>
                    </ul>
                </div>
                <div class="sec_cont">
                    <h3 class="sec_headline">Finish,</h3>
                    <small>문의하신 내용이 등록 되었습니다.</small>
                    <p>문의하신 내용은 마이페이지 내<br><b>1:1 문의</b>를 통해 조회 가능합니다.</p>
                    <p>*비회원은 등록한 메일로 답변조회가 가능합니다.</p>
                    <span class="deco27"></span>
                    <a href="#none" class="btn_v2 fm_btn fm_btn_v4">메인으로</a>
                </div>
                <span class="deco12"></span>
            </section>
        </div>
        </div>
        <!-- //Content -->
    </main>
    <!-- // [D] CONTENTS -->

    <!--[D] FOOTER -->
    @@include('./include/footer.html',{"type": "01"})
    <!--// [D] FOOTER -->
</div>



@@include('./include/script.html')
</body>
</html>