@@include('./include/head.html',{"title": "푸터/메뉴 : 고객센터 : Baby League"})
<body>
@@include('./include/skipnavigation.html')

<div class="wrap">
    <!--[D] HEADER -->
    @@include('./include/header.html',{"type": "01"})
    <!--//[D] HEADER -->

    <!-- [D] CONTAINER -->
    <main id="container">
        <!-- Content -->
        <div id="content">
            <div class="inner">
                <section id="sc_sec" class="sec_v1">
                    <div class="sec_header clearfix">
                        <h2 class="sec_tit sec_tit_v1 fl">고객센터</h2>
                        <ul class="breadcrumb fr clearfix">
                            <li><a href="#none">HOME</a></li>
                            <li>고객센터</li>
                        </ul>
                    </div>
                    <div class="sec_cont">
                        <div class="short_desc">
                            <p>고객 여러분의 따뜻한 격려의 말씀은 저희에게 큰 힘이 됩니다.<br>베이비리그에 대해 궁금하신 내용을 문의해 주시면 최대한 이른 시일 내에 답해 드리겠습니다.<br>더 나은 서비스를 위해 고객님들의 질책과 충고를 소중히 하겠습니다.</p>
                        </div>
                        <div class="contact_info_container">
                            <p><span>고객센터 문의전화</span><em>1577-0589</em></p>
                            <p><span>고객센터 운영시간</span><small>(월-금요일) 9:00 - 18:00<br>(점심시간) 12:00 - 13:00</small></p>
                            <p>* 운영시간 이후에는 업무 처리에 다소 시간이 걸릴 수 있습니다. 이점 양해 부탁 드립니다.</p>
                            <div>
                                <strong>잠깐!</strong>
                                <span>FAQ에서<br>검색해 보셧나요?</span>
                            </div>
                            <span class="deco26"></span>
                        </div>
                        <div class="lnk_grp">
                            <a href="#none" class="deft_btn">온라인 접수하기</a>
                            <div>
                                <p>자주 검색하시는 질문을 모았습니다. 먼저 FAQ에서 검색해 보세요.</p>
                                <a href="#none" class="trans_btn">FAQ <span>검색하기</span></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- //Content -->
    </main>
    <!-- // [D] CONTAINER -->

    <!--[D] FOOTER -->
    @@include('./include/footer.html',{"type": "01"})
    <!--// [D] FOOTER -->
</div>

@@include('./include/script.html')
</body>
</html>