@@include('./include/head.html',{"title": "푸터/메뉴 : 이용약관 : Baby League"})
<body>
@@include('./include/skipnavigation.html')

<div class="wrap">
    <!--[D] HEADER -->
    @@include('./include/header.html',{"type": "01"})
    <!--//[D] HEADER -->

    <!-- [D] CONTAINER -->
    <main id="container">
        <!-- Content -->
        <div id="content">
            <div class="inner">
                <section id="tos_sec" class="sec_v1">
                    <div class="sec_header clearfix">
                        <h2 class="sec_tit sec_tit_v1 fl">개인정보 처리 위탁</h2>
                        <ul class="breadcrumb fr clearfix">
                            <li><a href="#none">HOME</a></li>
                            <li>개인정보 처리 위탁</li>
                        </ul>
                    </div>
                    <div class="sec_cont">
                        <article>
                            <p>회사는 원칙적으로 이용자의 동의 없이 해당 개인정보의 처리를 타인에게 위탁하지 않습니다.</p>
                            <p>다만, 이용자의 동의를 받아 회사가 현재 개인정보 처리를 위탁하는 사항은 다음과 같습니다.</p>
                            <p>개인정보 취급방침은 다음과 같은 내용을 담고 있습니다.</p>
                            <br>
                            <p>-수탁업체: TCK(트랜스코스모스코리아)</p>
                            <p>-위탁업무 내용: 불만처리 등 민원 및 고객 상담 서비스</p>
                            <p>-보유 및 이용기간: 회원탈퇴시 혹은 위탁계약 종료시까지</p>
                            <br>
                            <p>위탁계약 시 개인정보보호 관련 법규의 준수, 개인정보에 관한 제3자 제공 금지 및 책임부담 등을 명확히 규정하고, 당해 계약내용을 서면 및 전자 보관하고 있습니다. 업체 변경 시 공지사항 및 개인정보처리방침을 통해 고지하겠습니다.</p>
                        </article>
                    </div>
                </section>
            </div>
        </div>
        <!-- //Content -->
    </main>
    <!-- // [D] CONTAINER -->

    <!--[D] FOOTER -->
    @@include('./include/footer.html',{"type": "01"})
    <!--// [D] FOOTER -->
</div>

@@include('./include/script.html')
</body>
</html>