// SPOTLIGHT
.spot {
    overflow: hidden;
    position: relative;
    height: 360px;
    border-bottom: 1px solid #a0adcc;
    background: #ffe600;
    text-align: center;
    &_banner {
        overflow: hidden;
        position: relative;
        height: 360px;
        text-align: center;
        &:after {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            content: '';
        }
    }
    &_lst {
        height: 100%;
    }
    &_item {
        height: 100%;
    }
    &:after,
    &_item:after {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: '';
    }
    &_bg {
        position: absolute;
        z-index: 0;
        min-width: 1140px;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_ct {
        display: inline-block;
        position: relative;
        z-index: 1;
        color: $blue-darker;
        text-align: center;
        vertical-align: middle;
        em {
            font-size: 18px;
            font-weight: 800;
            line-height: 28px;
        }
        strong {
            display: block;
            margin-top: 4px;
            font-size: 49px;
            font-weight: 800;
            line-height: 27px;
        }
    }
    &_sub {
        margin-top: 30px;
        font-size: 17px;
        line-height: 25px;
    }
    &_txt_img {
        display: block;
        margin: auto;
        margin-bottom: 18px;
    }
    &_sl {
        &_next,
        &_prev {
            i {
                display: inline-block;
            }
            position: absolute;
            padding: 15px 20px;
            top: 142px;
            z-index: 2;
        }
        &_next {
            left: 50%;
            margin-left: 485px;
        }
        &_prev {
            right: 50%;
            margin-right: 485px;
        }
    }
    .logo_white2 {
        margin: auto;
    }
    &.spot_v2 {
        strong {
            margin-top: 23px;
        }
    }
    > .inner {
        position: relative;
    }
}