@@if (type == 01) {<footer id="footer" class="ft">
    <div class="inner">
        <div class="ft_spot">
            <div class="ft_logo"><span class="blind">Baby League</span></div>
            <strong class="ft_phone">1577-0589</strong>
            <p class="ft_bsn_hours">월-금 9:00 - 18:00</p>
            <a href="#" class="ft_faq_btn">FAQ 바로가기</a>
        </div>
        <div class="ft_ct">
            <ul class="ft_nav">
                <li class="ft_nav_item"><a href="#" class="ft_nav_link">회사소개</a></li>
                <li class="ft_nav_item"><a href="#" class="ft_nav_link">이용약관</a></li>
                <li class="ft_nav_item"><a href="#" class="ft_nav_link">개인정보취급방침</a></li>
                <li class="ft_nav_item"><a href="#" class="ft_nav_link">베이비리그 개설안내</a></li>
            </ul>
            <p class="ft_info">(주) 튼튼영어 서울특별시 강남구 논현로 164 유니북스빌딩  |  사업자 등록번호 : 120-81-51404 <br>대표 : 박철균</p>
            <p class="ft_copyright">Copyright &copy; (주)튼튼영어, All rights reserved.</p>
        </div>
        <ul class="ft_follow">
            <li class="ft_follow_item"><a href="" class="ft_follow_link ico_insta"><span class="blind">Follow us on Instagram</span></a></li>
            <li class="ft_follow_item"><a href="" class="ft_follow_link ico_blog"><span class="blind">Follow us on Blog</span></a></li>
        </ul>
        <div class="ft_familysite">
            <button class="ft_familysite_btn">패밀리사이트 <span class="ft_familysite_ico ico_ar_blue"></span></button>
            <ul class="ft_familysite_lst">
                <li class="ft_familysite_item"><a href="#" class="ft_familysite_link">튼튼영어</a></li>
                <li class="ft_familysite_item"><a href="#" class="ft_familysite_link">라트어린이 영어원</a></li>
                <li class="ft_familysite_item"><a href="#" class="ft_familysite_link">튼튼영어 프리스쿨</a></li>
                <li class="ft_familysite_item"><a href="#" class="ft_familysite_link">마스터클럽</a></li>
                <li class="ft_familysite_item"><a href="#" class="ft_familysite_link">미세기</a></li>
            </ul>
        </div>
    </div>
</footer>}
@@if (type == 02) {<footer id="footer" class="ft ft_type2">
    <div class="inner">
        <ul class="ft_nav">
            <li class="ft_nav_item"><a href="#" class="ft_nav_link">이용약관</a></li>
            <li class="ft_nav_item"><a href="#" class="ft_nav_link">개인정보취급방침</a></li>
        </ul>
        <p class="ft_copyright">Copyright &copy; (주)튼튼영어, All rights reserved.</p>
    </div>
</footer>}
